body {
	font-family: Arial;
	padding-left: 280px;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav li a {
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e5005f;
	color: white;
	padding: 5px 10px;
	display: inline-block;
	margin: 2px 0; 
	font-size: x-large;
}

nav li a:hover {
	background-color: black;
}

#active {
	background-color: black;
}

nav {
	padding: 10px 0 0 10px;
	width: 240px;
	position: fixed;
	left: 10px;
}

nav > a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 5px;
	font-weight: bold;
}

nav > a:hover {
	color: #e5005f;
}

main aside p {
	background-color: #eeeeee;
	padding: 20px 30px;
}

main {
	width: 49%;
	float: left;
}

hr {
	border: none;
	border-top: 1px dashed #dddddd;
}

article img {
	max-width: 100%;
}

.related div{
	width: 200px;
	text-align: center;
	
}

.related:after {
	content: ' ';
	display: block;
	clear: both;
}

.related div:nth-of-type(1) {
	float: left;
	margin-left: 80px;
}

.related div:nth-of-type(2) {
	float: right;
	margin-right: 80px;
}

.related img {
	border-radius: 50%;
	width: 80%;
}

.related div a {
	background-color: #e5005f;
	display: block;
	padding: 10px 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: smaller;
	position: relative;
	margin-top: -20px;
}

.related div a:hover {
	background-color: black;
}

#scroll-left,
#scroll-right {
	font-size: 42px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: #e5005f;
	margin-top: 100px;
}

#scroll-left {
	position: absolute;
	left: 0;
}

#scroll-right {
	position: absolute;
	right: 0;
}

.related {
	position: relative;
}

.related h1 {
	background-color: white;
	width: 100px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.related hr {
	position: relative;
	top: -22px;
}

#extra {
	width: 49%;
	float: right;
}

#social {
	background-color: #e5005f;
	padding: 40px 30px;
	text-align: right;
	color: white;
}

#social a {
	color: inherit;
	text-decoration: none;
}

#newsletter p {
	text-align: right;
	padding-right: 80px;
	font-weight: bold;
}

#newsletter {
	background-color: #dddddd;
	padding: 20px 0;
	background-image: url(../img/envelope2.png);
	background-repeat: no-repeat;
	background-position: 20px center;
}

#newsletter a {
	color: white;
	text-decoration: none;
	background-color: #e5005f;
	padding: 10px;
	text-transform: uppercase;
}

#newsletter a:hover {
	background-color: #333333;
}




























